


.cart {
    display: block;
    position: absolute;
    top: 4.2em;
    right: 0;
    width: 35%;
    height: 100%;
    margin: 0;
    list-style: none;
    background-color: var(--cream);
    transition-duration: .3s;
    color: var(--black);
    z-index: 99;
    
    
}  

.sticky {
    position: fixed;
    top: 0;
  }
  

.product-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2em;

}

.product-container >* {
    padding-left:2em; 
}

.product-img-container {
    background-color: var(--pink);
    height: 8em;
    width: 8em;
}
  .cart h2 {
    color: var(--white);
    padding: 2em;
    background-color: var(--dark-green);
  }
  .cart form {
    display: block;
  }
  .cart input {
    font-size: 1em;
    font-weight: 500;
    width: 20px;
    border-bottom: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    border: none;
    color: var(--white);
    background-color: var(--orange);
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .cart label {
    font-size: 1.2em;
    font-weight: 600;
  }
  .cart button {
    font-size: 1em;
    border: none;
  }
  .cart button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
  .display-flex {
    display: flex;
  }

  .display-flex >* {
      width: 100%;;
  }

  .cart .price-each {
    margin-top: 0;
    padding-bottom: 15px;
  }
  .cart .label2 {
    margin-top: 10px;
    font-size: 1em;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
  }
  .checkoutbutton a:hover {
    color: white;
  }

  .hidden {
    right: -100%;
    width: 100%;
   }