main {
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

/* CART SUMMARY */
.cart {
  display: block;
  position: absolute;
  top: 5.88em;
  right: 0;
  width: 35vw;
  height: 100%;
  margin: 0;
  list-style: none;
  background-color: var(--cream);
  transition-duration: .3s;
  color: var(--black);
  z-index: 99;
  
  
}  

.x {
height: 0.5em;
  width: 0.5em; 
  position: absolute;
  float: right;
  top: 0.2em;
   right: 3em
    }

.x:after {
  font-size:3.2em;
  width:100%;
  content: '\d7';
  color: var(--white);
 
}


.cart-top {
  visibility:hidden
}


.cart-content h4 {
  text-align: center;
  padding: 2em;
  padding: 2em;
}

.cart-extra-info {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-green);
  color: var(--white);
}

.cart-extra-info > * {
  margin-bottom: 1em;
}

.sticky {
  position: fixed;
  top: 0;
  transition-duration: 0s;
}


.cart-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4vw;
  padding-right: 4vw;
}

.cart-product-img-container {
  position: relative;
  padding: 0;
}

.cart form {
  display: block;
}
.cart input {
  font-size: 1em;
  font-weight: 500;
  font-weight: 500;
  width: 100%;
  border-bottom: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  border: none;
  color: var(--white);
  background-color: var(--orange);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart label {
  font-size: 1.2em;
  font-weight: 600;
}
.cart button {
  font-size: 1em;
  border: none;
}
.cart button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.display-flex {
  display: flex;
  text-align: center;
}

.display-flex > * {
    width: 100%;
}

.cart .price-each {
  margin-top: 0;
  padding-top:0;
}
.cart .label2 {
  margin-top: 10px;
  font-size: 1em;
  display: block;
  text-transform: capitalize;
  font-weight: 400;
}


/* .checkoutbutton > * {
   font-size: 1em;
  font-weight: 500;
  margin: 0;
}

.checkoutbutton p {
  display: inline-flex;
  font-weight: 500;
  padding-left: 0.4em;
  margin: 0;
}

.checkoutbutton p span {
  padding-left: 0.4em;
}

.checkoutbutton a:hover {
  color: white;
}

.hidden { */
/*   right: -40%;
 }
 */
/* CART SUMMARY END */

  .info {
    display: block;
  }
  .search {
    width: calc(100%);
    position: relative;
    height: 60px;
  }
  .info > * {
    margin-bottom: 0em;
    margin-top: 1em;
  }
  .checkoutbutton {
    position: relative;
    margin-top: 1em;
  }

.express-checkout {text-align:center; position: relative;
  padding-bottom: 2em;
}

.total {
  position: absolute;
  top: 0.56em;
  left:2em;
}

.total-price {
  position: absolute;
  font-size: 2.4em;
  right:0.8em;
}
.total-price span {
  margin-right: 0.2em;
}

.label-name, label.container {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.8em;
  font-weight:200;
}

label.container {
  margin-bottom: 1em;
  margin-top: 1em;
}

 .express-checkout-icons {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 0.2em;
   padding-left: 6vw;
   padding-right: 6vw;
   padding-bottom: 2em;
 }
 .express-checkout-icons img {
 height: 2em;
 }

  input::placeholder, .info input  {
      color: var(--fadetext);
      font-family: "IBM Plex Sans", sans-serif;
      }


  .info input {
      background-color:var(--white);
  }
  
  .finalCheckout h1 {
    padding-top: 1em;
  }
  
  .finalCheckout > * {
    padding-bottom: 1em;
  }
  
  .firstName,
  .lastName {
    width: calc(50%);
    position: relative;
    overflow: hidden;
  }
  
  .firstName {
    margin-right: 6%;
   }
  
  .fullName {
    width: 100%;
    display: inline-flex;
    align-content: space-between;
  }
  
  .search input,
  .firstName input,
  .lastName input {
    width: 100%;
    color: black;
    border: none;
    outline: none;
    border: 1px solid black; 
    margin-top: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left:1em;
  }
  
  .search label,
  .firstName label,
  .lastName label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
   
  }

  .shipping-method {
    margin-top: 2.4em;
  }

  .shipping-summary {
  margin-top: 0;
  padding-top: 0.4em;
}
  .shipping-summary-category {
    margin-right: 1.5em;
  }

  .shipping-price {
    margin-left: 1em;
  }



  .btn-checkout-container {
    text-align: center;
    width: 75%;
  }

  .btn {
    text-transform: uppercase;
    color: white;
    margin: 0.5em; 
    padding: 1em;
    border: none;
  }

  #prev {
background-color:var(--fadetext);
  }

  .btn:focus {
    outline: 0;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn:disabled {
    display: none;
  }

  .btn-checkout {
    text-align: center;
  }

  section {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top:2em
  }
  
  .cartOverview {
    background-color: skyblue;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .cart {
    display: block;
  }


  .blue { 
    padding-bottom:120vh;   
    background-color:var(--blue);
  }

.shipping-info {background-color:var(--dark-green);
padding-top: 1.5em;
padding-bottom:1.5em;}

  h4 span {
    font-weight: 600;
  }
  .progress-container {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
  }
  
/*PAYMNT PROGRESS BREADCRUMBS*/
  .progress {
    background-color: black;
    position: absolute;
  }
  
  .circle {
    font-family: "IBM Plex Mono", monospace;
    height: 1em;
    color: lightgray;
    transition: 0.4s ease;
    padding-right: 0.4em;
    padding-left: 0.2em;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
  }

  .circle.active {
    color: var(--orange);
    background-color: white;
  }
  
  .progressPlacement {
    padding-bottom: 0em;
  }
  
  .mask {
    overflow: hidden;
  }
  
  #formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    width: 400%;
    transition: 0.4s ease;
  }
  
  .info {
    overflow: hidden;
    padding-bottom: 1em;
    transition: 0.4s ease;
  }
  .clickNext {
    transform: translateX(-100%);
    transition: 0.4s ease;
  }
  
  .clickPrev {
    transform: translateX(100%);
    transition: 0.4s ease;
  }
  
  .info2 {
    position: fl;
  }
  
  /* PAYMENT RADIO BUTTONS */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0.2em;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked */
  .container input:checked ~ .checkmark {
    background-color: dimgray;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the dot when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator dot */
  .container .checkmark:after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: white;
  }
  
  .dissapear {
    opacity: 0;
    transition: all 0.28s ease;
  }