.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cream);
}

.certificate {
  position: fixed;
  right: 3em;
  bottom: 4em;
  width: 6.5em;
}

.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 6vw;
}

.banner-text a {
  text-decoration: underline;
  margin-top: 1.2em;
}

.usp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10vw;
  padding: 6em 10vw;
  background-color: var(--dark-green);
  color: var(--white);
}

.usp > * {
  padding-bottom: 0.8em;
}

.usp a {
  text-decoration: underline;
}

.usp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.vector {
  height: 5em;
  height: 5em;
}

.usp-container {
  text-align: center;
}

.product-banner {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
}

.suflower-banner {
  background-color: var(--pink);
  color: var(--black);
}

.farmer-banner {
  background-color: var(--light-green);
}

button {
  text-align: center;
}

.subscribe-banner {
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  padding: 10em 20vw;
  /*  mix-blend-mode: difference; */
}

.subscribe-banner > * {
  padding-bottom: 1em;
}

.sub-1,
.sub-2,
.sub-3,
.sub-4 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.8em;
}
@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.sub-1 {
  position: absolute;
  left: 8vw;
  top: 1em;
  animation: fade 2s infinite;
}

.sub-2 {
  position: absolute;
  right: 10vw;
  top: 1.5em;
  animation: fade 2s infinite;
  animation-delay: 0.4s;
}

.sub-3 {
  position: absolute;
  left: 8vw;
  bottom: 0em;
  animation: fade 2s infinite;
  animation-delay: 0.8s;
}

.sub-4 {
  position: absolute;
  right: 10vw;
  bottom: 0.6em;
  animation: fade 2s infinite;
  animation-delay: 1.2s;
}

.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--orange);
  text-transform: uppercase;
  padding: 1em;
}
.button-white:hover {
  border: 2px solid var(--white);
}
.svg1 {
  position: absolute;
  left: -10vw;
  top: 65vh;
  transform: rotate(180deg);
}
.svg2 {
  position: absolute;
  left: 50vw;
  top: 100vh;
  transform: rotate(180deg);
}
.textpath {
  fill: var(--orange);
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
}
.textpath2 {
  fill: var(--orange);
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
}
/* PRODUCT DISPLAY*/
.product-display {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 6vw;
  padding: 3em;
}
.product-container img {
  height: 20em;
  width: auto;
}

.product-container > * {
  padding-bottom: 0.2em;
  text-align: center;
}

button {
  text-align: center;
}

.productImage {
  padding-top: 1vw;
  padding-bottom: 2vw;
}
.ratingflex {
  display: flex;
  justify-content: center;
  grid-column-gap: 30px;
}
.name {
  padding-bottom: 0.5em;
}
.rating {
  display: flex;
}
.circleEmpty {
  height: 20px;
  width: 20px;
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 30px;
}
.circleFull {
  height: 20px;
  width: 20px;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 30px;
}
.price {
  padding-top: 1em;
}

.intensity {
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.image-container {
  position: relative;
  width: 100%;
}
.overlay {
  background-color: var(--blue);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 94%;
  width: 100%;
  opacity: 0;
  background-color: var(--blue);
}
.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  text-transform: uppercase;
  padding: 2em 6em;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image-container:hover .overlay {
  opacity: 1;
}

.description {
  color: var(--white);
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* MOBILE */

@media screen and (max-width: 699px) {
  .banner img {
    display: none;
  }

  .top-banner {
    display: flex;
    background-image: url(../img/homepage-coffee-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin: 0;
    height: 100vh;
  }

  .suflower-banner {
    display: flex;
    background-image: url(../img/sunflower-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin: 0;
    height: 70vh;
  }

  .farmer-banner {
    display: flex;
    background-image: url(../img/field-worker-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin: 0;
    height: 100vh;
  }

  .usp p {
    display: none;
    align-content: center;
  }

  h2 {
    font-size: 0.8em;
  }
  .usp-container {
    grid-column-gap: 0vw;
    padding: 4em 6vw;
  }

  .product-display {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0em;
    margin-right: 0em;
  }
  .svg1 {
    position: absolute;
    left: -15vw;
    top: 80vh;
    transform: rotate(180deg);
  }
  .svg2 {
    position: absolute;
    left: -120vw;
    top: 130vh;
    transform: rotate(180deg);
  }

  .subscribe-banner {
    padding: 8em 10vw;
    /*  mix-blend-mode: difference; */
  }

  .sub-1,
  .sub-2,
  .sub-3,
  .sub-4 {
    display: none;
  }

  .sub-text {
    font-size: 1.4em;
  }
}
