
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cream);
}

.certificate {
  position: fixed;
  right: 3em;
  bottom: 4em;
  width: 6.5em;
}

.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 6vw;
}

.banner-text a {
  text-decoration: underline;
  margin-top: 1.2em;
}

.usp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10vw;
  padding: 6em 10vw;
  background-color: var(--dark-green);
  color: var(--white);
}

.usp > * {
  padding-bottom: 1em;
}

.usp a {
  text-decoration: underline;
}

.vector {
  height: 4em;
}

.usp-container {
  text-align: center;
}

.product-banner {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
}

.suflower-banner {
  background-color: var(--pink);
  color: var(--white);
}

.farmer-banner {
  background-color: var(--light-green);
}

.product-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10vw;
  padding: 3em 10vw;
}

.product-container > * {
  padding-bottom: 0.2em;
}

button {
  text-align: center;
}

.subscribe-banner {
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  padding: 6em 20vw;
  mix-blend-mode: difference;
}

.subscribe-banner > * {
  padding-bottom: 1em;
}

.sub-1, .sub-2, .sub-3, .sub-4 {  
font-family: "IBM Plex Mono", monospace;
font-size: 2em;
}

.sub-1 {
  position: absolute;
  left: 1.5em;
  top: 1em;
}

.sub-2 {
  position: absolute;
  right: 2em;
  top: 1em;
}

.sub-3 {
  position: absolute;
  left: 2em;
  bottom: 1.6em;
}

.sub-4 {
  position: absolute;
  right: 5em;
  bottom: 1em;
}

.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--orange);
  text-transform: uppercase;
  padding: 1em;
}
