@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Sans:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

:root {
  --cream: #fef4e6;
  --white: #ffffff;
  --black: #000000;
  --light-green: #f4f7ea;
  --dark-green: #4b5952;
  --blue: #79b3d6;
  --pink: #f9ccc2;
  --orange: #ff663e;
  --caramel: #b79f7f;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 1em;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--orange);
  padding: 0.8em 1em;
  color: var(--white);
}

h1,
h2,
button {
  font-family: "IBM Plex Mono", monospace;
}

a,
p,
h3, form {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
}

h3 {
  font-size: 0.5em;
  color: var(--caramel);
}

p {
  font-size: 1em;
  line-height: 1.2em;
}

button {
  color: var(--white);
  border: 1px solid var(--orange);
  background-color: var(--orange);
  padding: 1em;
  margin-bottom: 4em;
  text-transform: uppercase;
}

.nav-left {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  align-items: center;
}

.nav-right {
  display: flex;
  text-align: right;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 3em;
  text-align: center;
  justify-content: center;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cream);
}

.certificate {
  position: fixed;
  right: 3em;
  bottom: 3.6em;
  width: 6.5em;
}

.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em;
}

.banner-text a {
  text-decoration: underline;
  margin-top: 1.2em;
}

.usp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10vw;
  padding: 6em 10vw;
  background-color: var(--dark-green);
  color: var(--white);
}

.usp > * {
  padding-bottom: 1em;
}

.usp a {
  text-decoration: underline;
}

.vector {
  height: 4em;
}

.usp-container {
  text-align: center;
}

.product-banner {
  text-align: center;
  margin-top: 2em;
}

.product-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10vw;
  padding: 3em 10vw;
}

.product-container > * {
  padding-bottom: 0.2em;
}

button {
  text-align: center;
}

.subscribe-banner {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--orange);
  padding: 10em 10vw;
  color: var(--white);
  mix-blend-mode: difference;
}

.subscribe-banner > * {
  padding-bottom: 1em;
}

.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--orange);
  text-transform: uppercase;
  padding: 1em;
}


footer {display: grid; background-color: var(--cream);
  mix-blend-mode:lighten;}
  

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10vw;
  padding: 3em 6vw;
  font-size: 0.6;
}

.footer-container > * {font-size: 0.8em;}

.to-top {text-align: center;
  font-size: 0.8em;
color: var(--orange);padding-bottom: 2em;
text-transform: uppercase;}
