main {
  background-color: var(--cream);
}

.breadcrumbs {
  font-weight: 400;
  padding: 2em 2em;
}
.breadcrumbs > * {
  padding: 0.8em;
}

.center-header {
  text-align: center;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cream);
}
.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 6vw;
}

.banner-text a {
  text-decoration: underline;
  margin-top: 1.2em;
}

.subscription-banner {
  background-color: var(--caramel);
  color: var(--white);
}

.farmer-banner {
  background-color: var(--light-green);
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vw;
  padding: 3em 10vw 8em 10vw;
  justify-content: center;
}

.product-container > * {
  padding-bottom: 0.2em;
  text-align: center;
}

button {
  text-align: center;
}

.productImage {
  padding-top: 1vw;
  padding-bottom: 2vw;
}
.ratingflex {
  display: flex;
  justify-content: center;
  grid-column-gap: 30px;
}
.name {
  padding-bottom: 0.5em;
}
.rating {
  display: flex;
}
.circleEmpty {
  height: 20px;
  width: 20px;
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 30px;
}
.circleFull {
  height: 20px;
  width: 20px;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 30px;
}
.price {
  padding-top: 1em;
}

.intensity {
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.image-container {
  position: relative;
  width: 100%;
}
.overlay {
  background-color: var(--blue);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 94%;
  width: 100%;
  opacity: 0;
}
.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  text-transform: uppercase;
  padding: 2em 6em;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image-container:hover .overlay {
  opacity: 1;
}

.description {
  color: var(--white);
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.shipping-banner {
  display: flex;
  background-color: var(--orange);
  align-items: center;
  padding: 1em;
  justify-content: center;
}
.shipping-banner > * {
  justify-items: center;
  color: var(--white);
  text-decoration: underline;
}
.shipbox-img {
  width: 80px;
  height: auto;
  padding-right: 2em;
}

@media screen and (max-width: 799px) {
  .breadcrumbs {
    padding: 10em 2em 2em 2em;
  }

  .product-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    justify-content: center;
    grid-gap: 0;
  }

  .circleEmpty {
    height: 15px;
    width: 15px;
    margin-left: 20px;
  }
  .circleFull {
    height: 15px;
    width: 15px;
    margin-left: 20px;
  }
  /* .productImage {
    height: 22em;
    width: auto;
  } */
  .shipping-banner a {
    font-size: 0.9em;
  }
  .price {
    font-size: 1.8em;
    padding-top: 0;
    padding-bottom: 1em;
  }
  /* .flex {
    justify-content: left;
  } */
  .about-wrapper {
    flex-direction: column;
  }
  .farmer-banner img {
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 0.8em;
  }
}
