.breadcrumbs {
  font-weight: 400;
  padding: 2em 2em;
}
.breadcrumbs > * {
  padding: 0.8em;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cream);
}
.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 6vw;
}

.banner-text a {
  text-decoration: underline;
  margin-top: 1.2em;
}

.subscription-banner {
  background-color: var(--caramel);
  color: var(--white);
}

.productImage {
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.name {
  padding-bottom: 0.5em;
}
.rating {
  display: flex;
}
.circle {
  height: 20px;
  width: 20px;
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 50px;
}
.price {
  padding-top: 1em;
}

.intensity {
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.image-container {
  position: relative;
  width: 100%;
}

.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  text-transform: uppercase;
  padding: 2em 6em;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.shipping-banner {
  display: flex;
  background-color: var(--orange);
  align-items: center;
  padding: 1em;
  justify-content: center;
}
.shipping-banner > * {
  justify-items: center;
  color: var(--white);
  text-decoration: underline;
}
.shipbox-img {
  width: 80px;
  height: auto;
  padding-right: 2em;
}
