main {
  background-color: var(--blue);
}
.breadcrumbs {
  font-weight: 400;
  padding: 2em 2em;
  color: var(--white);
}
.breadcrumbs > * {
  padding: 0.8em;
}
.product-view {
  display: grid;
  grid-template-areas:
    "one img"
    "two img";
  color: var(--white);
  padding-left: 30px;
  grid-template-rows: 8.5em 28em;
}

.name-and-origin {
  grid-area: one;
}
.ratings-and-price {
  grid-area: two;
}
.image-container {
  position: relative;
  justify-self: end;
  grid-area: img;
  padding-right: 100px;
}

.productImage {
  height: 40vw;
  width: auto;
  align-self: center;
  padding-top: 1vw;
  padding-bottom: 2vw;
}
h6 {
  padding: 0;
  margin: 0;
}
.rating {
  display: flex;
}
.ratingflexbox {
  display: flex;
  flex-direction: column;
}
.circleEmpty {
  height: 15px;
  width: 15px;
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 10px;
}
.circleFull {
  height: 15px;
  width: 15px;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 10px;
}

.price {
  padding-top: 0.5em;
  font-size: 3em;
}
.per {
  padding-top: 3.4em;
}
.flex {
  justify-content: start;
  grid-column-gap: 2.5em;
}
.row {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  display: flex;
  grid-column-gap: 1em;
}
.column1 {
  width: 5em;
  
}
.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.8em;
}

button {
  width: 14em;
  height: 4em;
  font-size: 1em;
  /* margin-right: 1.6em; */
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 35px 50px;
  background-color: var(--light-green);
}
.left > * {
  padding-bottom: 20px;
}
.about-coffee {
  width: 500px;
}
.about-coffee > * {
  padding-bottom: 20px;
}
.about-coffee .row .column1 {
  width: 6em;
}
.map {
  height: 15em;
  width: auto;
}
.shipping-banner {
  display: flex;
  background-color: var(--orange);
  align-items: center;
  padding: 1em;
  justify-content: center;
}
.shipping-banner > * {
  justify-items: center;
  color: var(--white);
  text-decoration: underline;
}
.shipbox-img {
  width: 80px;
  height: auto;
  padding-right: 2em;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cream);
}
.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 6vw;
}

.banner-text a {
  text-decoration: underline;
  margin-top: 1.2em;
}

.subscription-banner {
  background-color: var(--caramel);
  color: var(--white);
}
.landfills > * {
  margin: 20px;
  text-align: center;
}
.landfills {
  padding: 20px;
  background-color: var(--caramel);
  color: var(--white);
  position: relative;
  height: 19em;
}
.landfills button {
  margin: 0;
  position: absolute;
  left: 42%;
}

@media screen and (max-width: 1270px) {
  h6 {
    font-size: 3em;
  }
  .price {
    font-size: 2.2em;
  }
  .per {
    padding-top: 2.2em;
  }
  button {
    width: 18vw;
    font-size: 1em;
  }
  .product-view {
    grid-template-rows: 6em 28em;
  }
}

@media screen and (max-width: 799px) {
  .breadcrumbs {
    padding: 10em 2em 2em 2em;
  }

  .product-view {
    display: flex;
    flex-direction: column;
  }
  .productImage {
    height: 22em;
  }
  .price {
    font-size: 1.8em;
  }

  button {
    margin-top: 0px;
    width: 10em;
    height: auto;
    font-size: 1em;
    margin-right: 1.6em;
  }
  .about-wrapper {
    flex-direction: column;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 0.8em;
  }
  .landfills {
    padding: 20px;
    background-color: var(--caramel);
    color: var(--white);
    position: relative;
    height: 25em;
  }
  .landfills button {
    margin: 0;
    position: absolute;
    left: 26%;
  }
}
