main {
  background-color: var(--blue);
}
.breadcrumbs {
  font-weight: 400;
  padding: 2em 2em 0.5em;
  color: var(--white);
}
.breadcrumbs > * {
  padding: 0.8em;
}
.product-view {
  display: grid;
  grid-template-areas:
    "one img"
    "two img";
  grid-template-rows: 30% 70%;
  color: var(--white);
  padding-left: 30px;
  padding-bottom: 3em;
  height: 76vh;
  background-color: var(--blue);
}

.name-and-origin {
  grid-area: one;
}
.ratings-and-price {
  grid-area: two;
}
.image-container {
  position: relative;
  justify-self: end;
  grid-area: img;
  padding-right: 60px;
}

.productImage {
  height: 40vw;
  width: auto;
  align-self: center;
  padding-top: 1vw;
  padding-bottom: 2vw;
}
h6 {
  padding: 0;
  margin: 0;
}
.rating {
  display: flex;
}
.ratingflexbox {
  display: flex;
  flex-direction: column;
}
.circleEmpty {
  height: 15px;
  width: 15px;
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 10px;
}
.circleFull {
  height: 15px;
  width: 15px;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 50px;
  margin-left: 10px;
}

.price {
  padding-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 3em;
  width: 4em;
}
.per {
  padding-top: 3.4em;
}
.flex {
  justify-content: start;
  grid-column-gap: 2.5em;
}
.row {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  display: flex;
  grid-column-gap: 1em;
}
.column1 {
  width: 5em;
}

.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  text-transform: uppercase;
  display: block;
}

.sub-button {
  font-size: 1em;
}

.product-view button {
  width: 12em;
  height: 3.8em;
  font-size: 1em;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  position: block;
  margin-right: 1.6em;
}
.about-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 35px 40px;
  background-color: var(--light-green);
}
.left > * {
  padding-bottom: 20px;
}
.about-coffee > * {
  padding-bottom: 20px;
}
.about-coffee .row .column1 {
  width: 6em;
}
.map {
  height: 15em;
  width: auto;
}
.shipping-banner {
  display: flex;
  background-color: var(--orange);
  align-items: center;
  padding: 1em;
  justify-content: center;
}
.shipping-banner > * {
  justify-items: center;
  color: var(--white);
  text-decoration: underline;
}
.shipbox-img {
  width: 80px;
  height: auto;
  padding-right: 2em;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cream);
}
.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6vw;
}
.banner-text h2 {
  padding-bottom: 6vw;
}
.banner-text h1 {
  padding-bottom: 0.8vw;
}
.banner-text a {
  text-decoration: underline;
  padding-top: 6vw;
}

.subscription-banner {
  background-color: var(--caramel);
  color: var(--white);
}
.landfills > * {
  margin: 20px;
  text-align: center;
}
.landfills {
  padding: 20px;
  background-color: var(--caramel);
  color: var(--white);
  position: relative;
  height: 19em;
  display: flex;
  align-items: center;
  height: 400px;
  flex-direction: column;
}
.ocean1 {
  height: 6vw;
  position: absolute;
  left: -35vw;
  top: 16vw;
}
.ocean2 {
  height: 6vw;
  position: absolute;
  left: 35vw;
  top: 16vw;
}

@media screen and (max-width: 1270px) {
  h6 {
    font-size: 4em;
  }
  .price {
    font-size: 2.2em;
  }
  .per {
    padding-top: 2.2em;
    display: flex;
  }
  /* button {
    margin-top: 10px;
    width: 18vw;
    font-size: 1em;
    margin-right: 1.6em;
    margin-bottom: 26px;
  } */
  .ocean1 {
    height: 6vw;
    position: absolute;
    left: -35vw;
    top: 22vw;
  }
  .ocean2 {
    height: 6vw;
    position: absolute;
    left: 35vw;
    top: 22vw;
  }
}

@media screen and (max-width: 699px) {
  .breadcrumbs {
    padding: 8em 2em 2em 2em;
  }

  .product-view {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    height: 110vh;
    justify-content: center;
  }
  .productImage {
    height: 22em;
  }
  .price {
    font-size: 1.8em;
    padding-bottom: 14px;
  }
  .per {
    padding-top: 20px;
  }
  button {
    margin-top: 0px;
    width: 10em;
    height: auto;
    font-size: 1em;
    margin-right: 1.6em;
  }
  .about-wrapper {
    flex-direction: column;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 0.8em;
  }
  .landfills {
    padding: 20px;
    background-color: var(--caramel);
    color: var(--white);
    position: relative;
    height: 28em;
  }

  .ocean1 {
    height: 6vw;
    position: absolute;
    left: -35vw;
    top: 80vw;
  }
  .ocean2 {
    height: 6vw;
    position: absolute;
    left: 28vw;
    top: 80vw;
  }
}
