@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

img {
  width: 100%;
}

:root {
  --cream: #fef4e6;
  --white: #ffffff;
  --black: #000000;
  --light-green: #f4f7ea;
  --dark-green: #4b5952;
  --blue: #79b3d6;
  --pink: #f9ccc2;
  --orange: #ff663e;
  --caramel: #b79f7f;
  --fadetext: #C4C4C4;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--orange);
  padding: 0.8em 1em;
  color: var(--white);
  user-select: none; 
}

h1,
h2,
button {
  font-family: "IBM Plex Mono", monospace;
}

a,
p,
h3,
form,
.menu__item,  .cart-extra-info {
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.8em;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 0.5em;
  font-weight: 200;
  color: var(--caramel);
}
h6 {
  font-size: 5em;
  font-weight: 1200;
}
p {
  font-size: 0.8em;
  font-weight: 200;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.strong {
  font-weight: 600;
}

button {
  color: var(--white);
  border: 1px solid var(--orange);
  background-color: var(--orange);
  padding: 1em;
  text-transform: uppercase;
}

.nav-left {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  align-items: center;
}

.nav-right {
  display: flex;
  text-align: right;
  justify-content: space-evenly;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 3em;
  text-align: center;
  justify-content: center;
}

footer {display: grid;
  background-color: var(--cream);
  mix-blend-mode: luminosity;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0vw;
  padding: 4em 5vw;
  font-size: 0.6;
}

.footer-container > * {
  font-size: 0.8em;
}

input[type="email"] {
  background-color: var(--cream);
  border: 1px solid var(--black);
  padding: 0.4em;
  margin-top: 0.4em;
  width: 100%;
}

.form-container {
  position: relative;
  width: 100%;
}

input[type="submit"] {
  position: absolute;
  right: 0.6em;
  top: 0.9em;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.submit-confirm {
  display:none;
}


.error-message {
  display: none;
}

input:not(:focus):invalid ~ .error-message {
  display: block; 
  color: var(--orange);
}


form p {
  padding-top: 1em;
}

.socials,
.important-links {display: flex;
  flex-direction: column;
  margin-left: 10vw;

}

.to-top {
  text-align: center;
  font-size: 0.8em;
  color: var(--orange);
  padding-bottom: 2em;
  padding-top: 7em;
  text-transform: uppercase;
}


/* DESKTOP */

@media screen and (min-width: 700px) {
  .hamburger-menu {
   display: none;
  }
}


/* MOBILE */

@media screen and (max-width: 699px) {

.to-top {
  width: 100%

}

  #global-nav {
    position: fixed;
    width: 100%;
    z-index: 99;
  }

 .top-banner {
   padding-top:4em
 }

 a {
    font-size:1.2em;
  }  

  .nav-left,
  .wholesale,
  .account {
    display: none;
  }

  .nav-right {
    justify-content:left;
  }

  .logo-container {
    order: 2;
  }

  .cart1 {
    order: 1;
    padding-left: 1em;
  }

  .hamburger-menu {
    order: 3;
  }

  .menu__btn {
    margin-right: 1em;
  }


  
  .footer-container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
  
  }
.footer-logo img {
  width: 4em;
position: absolute;
bottom: 1em;
left: 10vw;}

  form {
   min-width:100%;
  }

  .socials, .important-links {
    width: 40%;
    margin-bottom: 2em;
    margin-left: 0vw;
    margin-top: 2em; }
}
