.certificate {
  position: fixed;
  right: 3em;
  bottom: 4em;
  width: 8em;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cream);
}

.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 6vw;
}
.banner-text h2 {
  color: var(--orange);
  margin-top: 2em;
}

.banner-text a:hover {
  text-decoration: underline;
  text-decoration-color: var(--orange);
}

#subscription-sec {
  background-color: var(--blue);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.step {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.step-number {
  color: var(--orange);
}
.step-title {
  color: var(--white);
}

.step-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.step-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--cream);
  margin: 2rem;
  width: 120px;
  height: 120px;
  padding: 2em;
}

.step-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.step-box img {
  height: 40px;
  margin-top: 2rem;
  align-self: center;
}

.step-box h2 {
  text-align: center;
}

.recap-sec {
  background-color: var(--orange);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  align-content: center;
  justify-content: center;
}

.recap-box {
  background-color: var(--cream);
  padding: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  color: var(--black);
}

.recap-box img {
  height: 150px;
  width: 150px;
}

.recap-text h2 {
  margin-bottom: 0.9rem;
}

.recap-text h2 span {
  font-weight: 600;
}

.recap-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-left: 8rem;
  margin-right: 8rem;
}

.button-white {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--orange);
  text-transform: uppercase;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button-white:hover {
  color: var(--orange);
  border: 1px solid var(--white);
  background-color: var(--white);
}
/* FAQ POP UP */
.FAQ {
  background-color: var(--caramel);
  position: absolute;
  height: 110vh;
  width: 50vw;
  top: 20%;
  left: 20%;
  padding: 60px;
  justify-content: center;
  text-align: center;
  color: var(--white);
}
.questions h2 {
  padding-bottom: 8px;
  font-weight: 500;
}

.FAQ p {
  padding-bottom: 25px;
}
.brownh2 {
  color: var(--black);
  padding-top: 30px;
  padding-bottom: 18px;
}
.subx {
  height: 0.5em;
  width: 0.5em;
  position: absolute;
  float: right;
  top: 0.2em;
  right: 3em;
}

.subx:after {
  font-size: 3.2em;
  width: 100%;
  content: "\d7";
  color: var(--white);
}
/* MOBILE */

@media screen and (max-width: 800px) {
  .banner img {
    display: none;
  }

  .banner-text {
    margin: 2rem;
    padding-top: 3rem;
  }

  .top-banner {
    display: flex;
    margin: 0;
  }

  .pink {
    background-color: var(--pink);
  }

  .step-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recap-box {
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--black);
  }

  .recap-price {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  h2 {
    font-size: 0.8em;
  }

  a {
    font-size: 0.9em;
  }
}
