strong {
  font-weight: 600;
}
.blue-capsules {
  object-fit: cover;
  width: 689px;
  height: 563px;
  left: 32px;
  top: 163px;
  margin: 3.5%;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--dark-green);
}
.banner-text2 {
  text-align: center;
  padding: 80px;
  padding-top: 120px;
}
.banner-text2 h2 {
  padding: 15px;
  padding-bottom: 50px;
}
.banner-text2 p {
  padding: 15px;
}
.white {
  color: var(--white);
}
.orange {
  color: var(--orange);
}
.banner-text2 a {
  margin-top: 40px;
  text-decoration: underline;
}
.a-black {
  color: var(--black);
  padding-top: 25px;
}
.a-white {
  color: var(--white);
}

.banner-text h1 {
  color: var(--white);
}
.farmer-banner h2 {
  color: black;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}
.farmer-banner {
  background-color: var(--cream);
}
.shipping-banner {
  display: flex;
  background-color: var(--orange);
  align-items: center;
  padding: 1em;
  justify-content: center;
}
.shipping-banner > * {
  justify-items: center;
  color: var(--white);
  text-decoration: underline;
}
.shipbox-img {
  width: 80px;
  height: auto;
  padding-right: 2em;
}

/* MOBILE */

@media screen and (max-width: 699px) {
  .banner img {
    display: none;
  }
  .farmer-banner {
    display: flex;
    background-image: url(../img/field-worker-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: var(--white);
    margin: 0;
    height: 100vh;
  }

  .top-banner {
    background-image: none;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
  }
  .banner-text {
    text-align: center;
  }
  .banner top-banner {
    display: flex;
  }
}
