strong {
  font-weight: 600;
}
.blue-capsules {
  object-fit: cover;
  width: 689px;
  height: 563px;
  left: 32px;
  top: 163px;
  margin: 3.5%;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--dark-green);
}
.banner-text2 a {
  text-decoration: underline;
  margin-top: 1.2em;
}
div.banner-text h2:nth-child(2) {
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: none;
  color: var(--white);
  padding: 15px;
}
div.banner-text2 h2:nth-child(2) {
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: none;
  color: var(--white);
  padding: 15px;
}
div.banner-text h2:nth-child(3) {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--orange);
  padding: 15px;
  width: 470px;
  size: 18px;
  line-height: 23.4px;
  height: 73px;
}
div.banner-text a {
  color: white;
}
div.banner-text2 a {
  color: black;
}
div.banner-text2 h1 {
  color: black;
}
div.banner-text h1 {
  color: white;
}
section.banner.farmer-banner h2 {
  color: black;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}
.farmer-banner {
  background-color: var(--cream);
}
.shipping-banner {
  display: flex;
  background-color: var(--orange);
  align-items: center;
  padding: 1em;
  justify-content: center;
}
.shipping-banner > * {
  justify-items: center;
  color: var(--white);
  text-decoration: underline;
}
.shipbox-img {
  width: 80px;
  height: auto;
  padding-right: 2em;
}
